/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Container styling */
.container {
  background: linear-gradient(to right bottom, #e1b382, #c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App wrapper styling */
.app-wrapper {
  background-color: #123436;
  width: 600px;
  min-height: 500px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

/* Header styling */
.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

/* Form container styling */
form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Task input styling */
.task-input {
  outline: #bb2525;
  width: calc(100% - 100px); /* Adjust width to avoid overlap with button */
  padding: 10px;
  margin-right:10px; /* Reduced margin */
  font-size: 20px;
  color: #ccc;
  background-color: #1b1712;
  border: 1px solid;
  /* border-radius: 10px; */
}

/* Add button styling */
.button-add {
  width: 90px; /* Increased width to accommodate 'Update' text */
  padding: 10px 0;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: #615555; /* Added background color for visibility */
}

/* List item styling */
.list-item {
  display: flex;
  align-items: center; /* Center items vertically */
  margin: 20px 0;
  border: 1px solid #ccc;
  background-color: #1b1712;
  border-radius: 10px;
  padding: 10px;
  height: 30px; /* Adjusted height */
}

/* Button styling */
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px; /* Reduced font size */
  margin-left: 5px; /* Added margin for spacing */
  padding: 4px;
}

/* Complete button styling */
.button-complete {
  color: #bb2525;
}

/* Edit button styling */
.button-edit {
  color: #f3dc09;
}

/* Delete button styling */
.button-delete {
  color: rgb(65, 221, 213);
}

/* List styling */
.list {
  width: 100%;
  background-color: #1b1712;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

/* Focus styling for input and button */
input:focus,
button:focus {
  outline: none;
}

/* Completed list item styling */
.list.completed {
  text-decoration: line-through;
  color: gray;
}